.accordion {
    max-width: 400px;
    margin: 100px auto 0;
    border-radius: 3px;
    background: white;
}

.accordion-visible {
    border-style: hidden;
    width: 80%;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    padding-bottom: 25px;
}

.accordion-visible span {
    margin: 0;
    padding: 15px 0;
    font-size: 20px;
}

.accordion-visible img {
    width: 20px;
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
}
.accordion-visible img.active {
    transform: rotate(0deg)
}

.accordion-visible h2 {
    font-size: 20px;
}

.accordion-toggle {
    height: 0px;
    font-size: 18px;
    opacity: 0;
    transition:  
    opacity 0.3s ease-in-out,
    height 0.3s 0.3s ease-in-out;
    color: #333;
}

.animated {
    opacity: 1;
    transition:  
    height 0.3s ease-in-out,
    opacity 0.3s 0.3s ease-in-out;
}

.accordion-toggle p {
    margin: 0;
    padding: 22px 15px;
    pointer-events: none;
    line-height: 1.3;
}
