.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkblue;
  }
  
  .design {
    height: 90%;
    max-width: 30%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 3%;
    font-size: 20px;
  }
  
  .signUp {
    height: 90%;
    width: 70vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 3%;
    background-color: white;
    color: darkblue;
  }

  .signUp > * {
    margin-left: 5%;
  }

  .signUp h1 {
    margin-left: 5%;
    font-size: 60px;
    color: black;
  }

  .account {
    display: flex;
    flex-direction: row;
  }

  .account h3 {
    margin-top: 0px;
    margin-right: 80px;
    color: black;
  }

  form {
    margin-top: 10px;
    font-size: 30px;
    color: black;
  }

  input {
    width: 80%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    margin-top: 10px;
  }

  button {
    background-color: blue; 
    width: 20%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 33%;
    margin-top: 2%;
    border-radius: 20px;
  }
  
  .btn h4 {
    margin-left: 33%;
    margin-top: 4%;
    color: black;
  }