#createTeam {
  /* Green */
     background-color: green;
 }

 #curTab {
  color: gray;
 }

.teams {
    position: absolute;
    justify-content: center;
    top: 0;
    left: 20%; /* Adjust to match the width of blueSide */
    width: 80%; /* The remaining width */
    height: 100%;
    background-color: white;
    display: flex;
    border-color: black;
    border-style: solid;
    border-radius: 0.5px;
  }

  .createBtn {
    margin: 0;
    position: absolute;
    top: 0;
    margin-right: 60px;
    margin-top: 20px;
    right: 0;
    z-index: 2;
  }

  #btn {
    background-color: blue; /* Green */
    width:90%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 2%;
    height: 20%;
    border-radius: 20px;
  }